.input-bar {
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    
   


}
.input-bar-dark{
    background-color: black;
}
.input-bar-light{
   background-color: white;
}


.input-bar input {
    width: 100%;
    
    border: none;
    border: 1px solid #ccc;
    height: 35px;
    color: #bbb;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 7px;
    background-color: transparent;
    padding: 5px 10px;



}

.input-bar input:focus {
    outline: none;

}

.plus-icon {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    outline: none;
    /*border: 1px solid;*/


}

.plus-icon svg {
    width: 22px;
    height: 22px;
    color: #ddd;
}